.input{
    width: 100%;
    padding: 0.625rem; /* Equivale a 10px */
    border: 1px solid var(--cor-divisor);
    font-family: var(--fonte-padrao);
    color: var(--cor-texto-principal);
    border-radius: 0.3125rem;
    background-color: #fff;
    transition: border-color 0.3 ease;
}

/* Efeito de clicar/focar no input */
.input:focus {
    outline: none;
    border-color: var(--cor-primaria);
    box-shadow: 0 0 0 2px var(--cor-primaria-clara);
}

/* Estilo para quando o input estiver desabilitado */
.input:disabled {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto-secundario);
    cursor: not-allowed;
}
