.listaContainer {
  background-color: #000000de;
  padding: 1.5rem;
  border-radius: 0.4rem;
  box-shadow: 0 0 2rem 0.4rem rgba(0, 0, 0, 0.5);
}

.buscaContainer {
  margin-bottom: 1.25rem;
}

.buscaContainer input::placeholder {
  color: rgb(255, 221, 0);
  opacity: 1;
}

.titulo {
    color: rgb(255,223,0);
    margin-bottom: 1.25rem;
}

.tabela {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.tabela th, .tabela td {
    padding: 0.625rem;
    border-bottom: 0.01rem solid var(--cor-divisor);
    color: rgb(212, 175, 55);
}

.actionButton{
    margin-right: 0.625rem;
    cursor: pointer;
    background: rgb(212, 175, 55);
    color: #ffffff;
    transition: filter 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.actionButton:hover {
    filter: brightness(0.8);
}

.btnExcluir{
    color: var(--cor-erro);
}

