.formularioContainer {
    background-color: #000000de;
    padding: 1.25rem;
    border-radius: 0.4rem;
    box-shadow: 0 0 2rem 0.4rem rgba(0, 0, 0, 0.5);
}

.titulo{
    color: rgb(255, 223, 0);
    margin-bottom: 1rem;
}

.label{
    color: rgb(212, 175, 55);
    margin-bottom: 0.3125rem; /* equivale a 2px */
    font-weight: bold;
}

.pularlinha{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;

}

.alinharBotao{
    display: flex;
    justify-content: flex-end;
}

.inputNomeCurso::placeholder {
    color: rgb(255, 221, 0);
    opacity: 1;
}

.estiloSelect{
    padding: 0.25rem;
    border-color: var(--cor-divisor);
    background-color: rgb(128,128,128);
    border: 1px solid rgb(255,223,0);
    font-family: var(--fonte-padrao);
    color: rgb(212, 175, 55);
    border-radius: 0.3125rem;
    color: rgb(255, 221, 0);
}